.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 5vh;

    padding: 10px;
    background-color:#b1cb1b;
    color: #127133;
}

.app-header img{
    padding: 5px;
    height:50px;
    display: flex;
}

.app-header h1 {
    margin: 0;
    font-family: Georgia, serif;
    font-size: 2rem;
}

.app-header nav {
    display: flex;
    gap: 20px;
}