.book-details {
    display: grid;
    padding: 10px;
    margin-block-start: 10px;
}

.title {
    font-size: 2rem;
}

.book-details img {
    width: 200px;
    justify-self: center;
}

.book-details button {
    justify-self: end;
}

.details {
    display: flex;
    justify-content: space-around;
    gap: 25px;
}

.prev-next {
    border-top: 1px solid rgb(137, 135, 135);
    border-bottom: 1px solid rgb(137, 135, 135);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #417184;
}

.back {
    color: #417184;
    padding: 10px;
    margin: auto;
    display: block;
}
.green {
    color: green;
}

.red {
    color: red;
}