.book-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 10px;

    padding: 10px;
    list-style-type: none;
}

.book-list ul li {
    height: 400px;
    padding: 10px;
    /* background-color: rgb(237, 240, 237); */
}

.book-list .actions {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateX(-10%);
    transition-duration: 0.3s;
    transition-property: transform, opacity;
    color:  #417184;
}
.book-list button {
    color:  #417184;
    background-color: #fcfcfa00;
}

li:hover .actions {
    opacity: 1;
    transform: translateX(0);
}